<%- include("header") -%> 
<center><h1 class="box" id="heading">ABOUT ME</h1></center>

<h2><center> 
    <p>This site is developed my Nalin Rajendran. This site is developed with the help of EJS templating.</p>
</center></h2>

<%- include("footer") -%> 